services:
  ur_sim:
    image: universalrobots/ursim_e-series:latest
    container_name: ursim
    networks:
      ur_net:
        ipv4_address: 192.168.56.101
    environment:
      - ROBOT_MODEL=UR5e
    ports:
      - "5900:5900"
      - "6080:6080"
    volumes:
      - ./ur_programs:/ursim/programs
      - ./ur_conf:/ursim/.urcaps
      - ur_gui_cache:/ursim/GUI/felix-cache

  ros_driver:
    build: .
    container_name: ur_driver
    restart: on-failure:5 
    networks:
      ur_net:
        ipv4_address: 192.168.56.102
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_SOFTWARE=1
      - QT_QPA_PLATFORM=xcb 
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./ur_programs:/ursim/programs
    depends_on:
      - ur_sim
    command: >
      ros2 launch ur_robot_driver ur_control.launch.py
      ur_type:=ur5e
      robot_ip:=ursim
      launch_rviz:=true
      headless_mode:=false
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 99

networks:
  ur_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.56.0/24

volumes:
  ur_gui_cache: